<div class="container-fluid">
    <div class="row clearfix">

        <div class="login-box">
            <div class="header">
                <h2>Create a Group</h2>

            </div>
            <div class="card">
                <div class="body">
                    <div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <img src="../../assets/images/files.png" height="20" width="20">
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="disk_name" ng-model="name" placeholder="filr group name" required autofocus>
                                    </div>
                                </div>
                               
                                <div class="input-group m-b-35">
                                    <span class="input-group-addon">
                                        <i class="material-icons">dns</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="database" ng-model="db" placeholder="database" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="overflow: scroll; height: 400px;">
                                <div ng-repeat="database in dbs" >
                                    <div class="info-box">
                                        <div class="icon bg-orange">
                                            <img src="../assets/images/db.png" height="50" width="50" style="margin-top:15%;" />


                                        </div>
                                        <div class="content" ng-init="selectedDatabase=database" ng-click="addDatabaseInGroup(selectedDatabase)">
                                            <div class="text">{{database}}</div>
                                           </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row m-t-35">

                    <div class="col-xs-12">
                        <button class="btn btn-block bg-orange waves-effect" ng-click="setGroup()">Create</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>