<div class="container-fluid">
    <div class="row clearfix"style="overflow: scroll; width: auto; height: 400px;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="disk in disklist">
            <div class="info-box">
                <div class="icon bg-orange">
                    <img src="../../assets/images/files.png" height="50" width="50" style="margin-top:15%;" />


                </div>
                <div class="content">
                    <div class="text">ID: {{disk.idGrupo}}</div>
                    <div class="text">Tamaño: {{disk.tamano}}%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" >
        <div class="header">
            <h3>Total Usage: {{usage}}</h>

        </div>
    </div>

</div>