<div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="disk in disk-list">
                <div class="info-box">
                    <div class="icon bg-orange">
                        <div class="chart chart-pie">
                            <canvas style="display: inline-block; width: 50px; height: 50px; vertical-align: top;" width="50" height="50"></canvas>
                        </div>
                    </div>
                    <div class="content">
                        <div class="text">USAGE</div>
                        <div class="number">98%</div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>