<!DOCTYPE html>
<html ng-app="mainModule">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>DB Studio</title>
    <!-- Favicon-->
    <link rel="icon" href="../assets/images/ms.jpg" type="image/x-icon">


    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="../plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="../plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="../bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />

    <!-- Preloader Css -->
    <link href="../plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../assets/css/themes/theme-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/mediaQueries.css">
    <link rel="stylesheet" href="../assets/css/cards.css">
</head>

<body class="theme-blue" ng-controller="MainViewController">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="md-preloader pl-size-md">
                <svg viewbox="0 0 75 75">
                    <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                </svg>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    < <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">DB - MONITORING STUDIO</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->

                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle m-r-35" data-toggle="dropdown" role="button">
                            <img src="../assets/images/db.png" height="24" width="24" />
                            <span>Data Bases</span>

                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Databases</li>
                            <li class="body">
                                <ul class="menu" style="overflow: hidden; width: auto; height: 254px;">
                                    <li ng-repeat="database in databases">
                                        <a href="" ng-click="saveUseDatabase({{database}})">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">dns</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>{{database}}</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <!-- #END# Notifications -->


                </ul>
            </div>
        </div>
        </nav>
        <!-- #Top Bar -->
        <!-- Se enlaza el controller al sidebar -->
        <!-- en el se encuentran los datos de usuario que aparecen en el sidebar -->
        <section>
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- Informacion del usuario -->
                <div class="user-info ">
                    <div class="image ">
                        <img src="../assets/images/ms.jpg" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <!-- Menu de cierre de session -->
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</div>
                        <div class="email">{{email}}</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li role="seperator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="signOut()">
                                        <i class="material-icons">input</i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #User Info -->
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header bg-orange ">Options</li>
                        <li class="tecTitles">
                            <a href="#/" onclick="closeSideBar()">
                                <i class="material-icons">home</i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="tecTitles">
                                <a href="#/create-disk" onclick="closeSideBar()">
                                    <img src="../assets/images/newdisk.png" height="24" width="24" />
                                    <span>New Disk</span>
                                </a>
                            </li>
                        <li class="tecTitles">
                            <a href="#/disks" onclick="closeSideBar()">
                                <img src="../assets/images/db-disk.png" height="24" width="24" />
                                <span>Data base disks</span>
                            </a>
                        </li>

                        <li class="tecTitles">
                            <a href="#/files" onclick="closeSideBar()">
                                <img src="../assets/images/files.png" height="34" width="34" />
                                <span>File Groups</span>
                            </a>
                        </li>
                        <li class="tecTitles">
                                <a href="#/usage" onclick="closeSideBar()">
                                    <i class="material-icons">timeline</i>
                                    <span>Total Usage</span>
                                </a>
                        </li>

                    </ul>
                </div>
                <!-- #Menu -->
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2017
                        <a href="javascript:void(0);"></a>.
                    </div>
                    <div class="version">
                        <b>Powered by: </b>
                        <br> Brayan Ruiz, Erwin Salas Christian Sanchez
                    </div>
                </div>
                <!-- #Footer -->
            </aside>
            <!-- #END# Left Sidebar -->

        </section>
        <section class="content" ng-view="">

        </section>

        <!-- Dependencias de angular  -->
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="../node-modules/select.js/lib/select.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>


        <script src="../plugins/bootstrap/js/bootstrap.js"></script>
       

        <!--script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script-->
        <script src="../shared/common.js"></script>
        <!-- app Js -->
        <script src="app.js"></script>
        <!-- services -->
        <script src="services.js"></script>
        <!-- main controller Js -->
        <script src="controllers/MainViewController.js"></script>
        <script src="controllers/DiskController.js"></script>
        <script src="controllers/GroupsController.js"></script>

        <script src="controllers/CreateDiskController.js"></script>

        <script src="controllers/GroupsController.js"></script>







        <!-- Select Plugin Js -->
        <script src="../plugins/bootstrap-select/js/bootstrap-select.js"></script>

        <!-- Slimscroll Plugin Js -->
        <script src="../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

        <!-- JQuery Steps Plugin Js -->
        <script src="../plugins/jquery-steps/jquery.steps.js"></script>

        <script src="../assets/js/pages/forms/form-wizard.js"></script>


        <!-- Waves Effect Plugin Js -->
        <script src="../plugins/node-waves/waves.js"></script>

        <!-- Custom Js -->
        <script src="../assets/js/admin.js"></script>

</body>

</html>